body {
  font-size: 16px;
  font-family: Helvetica;
}

#zeumo-calender {
  padding: 20px;
}

#zeumo-calender .title {
  font-size: 20px;
  margin-right: 10px;
}

#zeumo-calender .header {
  font-weight: bold;
  margin: 0 0 20px 0;
}

#zeumo-calender .actions {
  float: right;
}

#zeumo-calender .actions a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
}

#zeumo-calender table {
  width: 100%;
}

#zeumo-calender thead th {
  border-bottom: 1px solid #eee;
}

#zeumo-calender td {
  height: 80px;
  width: 14.28%;
}

#zeumo-calender .day {
  height: 100%;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  padding: 5px;
}

#zeumo-calender .numeral {
  float: right;
  font-weight: 300;
}

#zeumo-calender td.active {
  background: #f7f7f7;
}

#zeumo-calender td.active .numeral {
  font-weight: bold;
  font-size: 18px;
}
