#zeumo-calender {
  height: 100%;

  table, td, th {
    border-collapse: collapse;
    padding: 0;
  }

  table {
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-spacing: 0;
  }

  td {
    vertical-align: top;
  }

  .calendar-container {
    height: 100%;
    height: calc(100% - 46px);
  }

  .weeks {
    height: 100%;
    height: calc(100% - 36px);
  }

  .week {
    height: 16.667%;
    position: relative;
  }

  .week-skeleton {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    td {
      border-style: solid;
      border-width: 1px;
      border-color: #ddd;
      padding: 0;
    }

    .active {
      background: #f6f2fb;
    }
  }

  .title {
    font-size: 20px;
    margin-right: 10px;
  }

  .header {
    font-weight: bold;
    margin: 0 0 20px 0;
  }

  .actions {
    float: right;

    a {
      display: inline-block;
      text-decoration: none;
      padding: 5px 10px;

      &:hover {
        background: #f7f7f7;
        border-radius: 3px;
      }
    }
  }

  .overlay {
    height: 100%;
    overflow: hidden;

    thead {
      th {
        text-align: right;
        padding: 8px 10px;
        font-weight: normal;

        &.active {
          color: rebeccapurple;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }

  .day-names {
    th {
      text-align: center;
      padding: 8px 0;
    }
  }

  .day-trailing {
    color: #ccc;
  }

  .event {
    margin: 2px 3px;
    background: rebeccapurple;
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 13px;
  }
}
